.contentView-container.hide {
    display: none;
}

.contentView {
    background-color: var(--contentViewCol);
    
    padding: 4px 10px;

    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 10px;

    position: relative;
    z-index: 0;
}

.contentView.hide {
    display: none;
}

.contentView .title-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    overflow: visible;
}

.contentView.single .title-wrapper {
    grid-template-columns: auto 1fr;
}

.contentView #return {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    opacity: 75%;
    display: grid;
    place-content: center;
    position: relative;
}

.contentView #return:hover {
    opacity: 100%;
}

.contentView #return img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
}

.contentView ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--fontCol);
    opacity: 0.5; /* Firefox */
  }

.contentView .description-wrapper {
    position: relative;
    background-color: red;
    height: max-content;
}

.contentView textarea {
    min-height: 13em;
    width: 100%;

    resize: none;
}

.contentView .itemTitle, .contentView textarea {
    border-radius: 5px;

    padding: 6px;

    font-size: 1rem;

    border: 2px solid rgb(80, 98, 104);

    background-color: var(--insideCol);
}

.contentView .options {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    justify-content: end;
    align-self: start;
    gap: 1ch;
}

.contentView .options * {
    font-size: 1rem;
}

.contentView .options input[type='date'] {
    min-width: 13ch;
}

.contentView .options input, .contentView .options select {
    background-color: var(--insideCol);
    border-radius: 3px;
    border: none;
    padding: 3px;
}

.contentView #delete {
    background-color: rgb(182, 17, 44);
    border: 2px solid rgb(201, 140, 61);
    color: rgb(255, 228, 206);
    border-radius: 4px;
    padding: 3px 20px;
    font-size: 1rem;

    transition: 100ms;
}

.contentView #delete:hover {
    border-color: rgb(219, 184, 139);
    background-color: rgb(167, 0, 0);
    color: white;
}
.contentView #delete:active {
    background-color: black;
    border-color: white;
}

.contentView #return {
    display: none;
    max-height: 2.5rem;
}

.contentView.single #return {
    display: initial;
}

.contentView .clear {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px 20px;

    background-color: rgba(0, 0, 0, 0.281);

    display: grid;
    place-content: center;

}

.contentView .clear p {
    text-align: center;
    user-select: none;
    font-size: 1.5rem;

    background-color: rgba(0, 0, 0, 0.384);
    padding: 0.5em;
    border-radius: 0.35em;
}

.contentView.note .options :is(select, input) {
    display: none;
}