.contentView {
    background-color: rgb(24, 85, 136);
    
    --insideCol: rgb(50, 66, 80);
    
    padding: 4px 10px;

    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 10px;

    position: relative;
    z-index: 0;
}

.contentView .title-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    overflow: visible;
}

.contentView .itemTitle, .contentView textarea {
    border-radius: 5px;

    padding: 6px;

    font-size: 1rem;

    border: 2px solid rgb(80, 98, 104);

    background-color: var(--insideCol);
}

.contentView .options {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 1ch;
}

.contentView .options * {
    font-size: 1rem;
}

.contentView .options input[type='date'] {
    min-width: 13ch;
}

.contentView .options input, .contentView .options select {
    background-color: var(--insideCol);
    border-radius: 3px;
    border: none;
    padding: 3px;
}

.contentView #delete {
    background-color: rgb(182, 17, 44);
    border: 2px solid rgb(201, 140, 61);
    color: rgb(255, 228, 206);
    border-radius: 4px;
    padding: 3px 20px;
    font-size: 1rem;

    transition: 100ms;
}

.contentView #delete:hover {
    border-color: rgb(219, 184, 139);
    background-color: rgb(167, 0, 0);
    color: white;
}
.contentView #delete:active {
    background-color: black;
    border-color: white;
}

.contentView #return {
    display: none;
}

.contentView.single #return {
    display: initial;
}

.contentView.single {
    display: none;
}
