.listView {
    background-color: rgb(39, 55, 70);
    display: grid;
    align-content: start;

    padding: 10px;
}

.listView.triple #open-menu {
    display: none;
}

.listView.triple .title {
    display: none;
}