.listView {
    background-color: rgb(39, 55, 70);
    display: grid;
    align-content: start;

    padding: 10px;

    position: relative;
    z-index: 0;
}

.listView.triple #open-menu {
    display: none;
}

.listView.triple .title {
    display: none;
}

#listName {
    background-color: transparent;
    border: none;
    font-size: 1.75rem;
}