.loading-container {
    position: fixed;
    top: 0%;
    left: 0%;

    height: 100%;
    width: 100%;

    display: grid;
    place-content: center;

    background-color: rgba(13, 23, 119, 0.932);

    z-index: 11;

    opacity: 0%;

    transition: 100ms;
}

.loading {
    /* background-color: aqua; */
    pointer-events: inherit;

    display: grid;
}

.loading h1 {
    pointer-events: inherit;
    font-size: 55px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.loading h1::after {
    content: '...';
    animation: dots 2300ms;
    animation-iteration-count: infinite;
}

@keyframes dots {
    0% {
        content: '.';
    }
    25% {
        content: '.';
    }
    50% {
        content: '..';
    }
    75% {
        content: '...';
    }
    100% {
        content: '...';
    }
}

