/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Mukta Font */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

html, body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
}

:root * {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

    --fontTitle: 'Mukta', sans-serif;
    --fontMain: 'Roboto', sans-serif;

    --menuCol: rgb(27, 31, 51);
    --listViewCol: rgb(6, 48, 83);
    --contentViewCol: rgb(29, 68, 105);
    --insideCol: rgb(67, 108, 128);

    --mainContentCol: white;
    --fontCol: var(--mainContentCol);
}

body {
    --colMinusOne: 2;
    --firstCol: 1;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    overflow: visible;
}

body.double {
    grid-template-columns: 1fr 1fr;
}

body.single {
    grid-template-columns: 1fr;
}

body * {
    color: var(--fontCol);
    font-family: var(--fontMain);
}

body > :is(.menu-container, .listView-container, .contentView-container) {
    overflow: auto;
    display: grid;
    height: 100%;
}
body > :is(.menu-container, .listView-container, .contentView-container) > * {
    min-width: min(44ch, 100vw);
    height: 100%;
}

span.seperator {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    width: 80%;
    justify-self: center;
    background-color: rgba(255, 255, 255, 0.384);
}

.title-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1ch;
}

.title-wrapper button {
    color: black;
    height: 100%;
    aspect-ratio: 1/1;
}

.title {
    font-family: var(--fontTitle);
}

button, input {
    user-select: none;
}

ul {
    list-style: none;
}