html, body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
}

body {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
}

body * {
    overflow: auto;
    color: white;
}

.menu {
    background-color: rgb(33, 33, 43);

    height: 100%;
    width: 250px;

    display: grid;
    align-content: start;
    gap: 1rem;
}

.menu .title {
    text-align: center;
}

.menu ul {
    display: grid;
    justify-items: center;
}

.toggleTheme {
    justify-self: center;
}

.listView {
    background-color: rgb(39, 55, 70);
}

.contentView {
    background-color: rgb(24, 85, 136);
}

ul {
    margin: 0%;
    padding: 0%;
}

span.seperator {
    display: block;
    margin: 0%;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    height: 1px;
    width: 80%;
    justify-self: center;
    background-color: white;
}