.menu-container {
    position: relative;
    z-index: 2;
    overflow: visible;
}
body:not(body.triple) .menu-container {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
body:not(body.triple) .menu-container.visible {
    background-color: rgba(0, 0, 0, 0.185);
    pointer-events: initial;    
}
.menu {
    background-color: rgb(33, 33, 43);

    height: 100%;
    width: min(250px, 100vw);

    padding: 10px;

    display: grid;
    align-content: start;
    gap: 1rem;

    position: relative;
}

.menu:not(.menu.triple) {
    position: absolute;
    top: 0%;
    right: 100%;
    transition: 300ms;
}

.menu.visible {
    translate: 100%;
}

.menu.triple {
    display: grid;
    position: relative;
}

.menu.triple #close-menu {
    display: none;
}

.menu .title {
    display: none;
}

.menu.triple .title {
    display: initial;
}