.toolTips {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 3;
    pointer-events: none;
    overflow: hidden;
}

.toolTips > div {
    position: absolute;

    --positionX: 50%;
    --positionY: 50%;

    top: var(--positionY);
    left: var(--positionX);

    /* border: 1px solid red; */
}

.toolTips > div > span {
    position: absolute;
    z-index: 3;
    
    opacity: 0%;
    transition: 200ms;
    
    width: 150px;
    
    --tooltipBG: rgba(0, 0, 0, 0.856);
    
    background-color: var(--tooltipBG);
    color: white;
    text-align: center;
    padding: 5px 7px;
    border-radius: 8px;
    pointer-events: none;
    
    /* default positioning */
    bottom: 100%;
    left: 50%;
    --verticalOffset: -15px;
    translate: -50% var(--verticalOffset);
}

.toolTips > div.show > span {
    opacity: 100%;
    pointer-events: auto;
}

.toolTips > div > :is(body.triple span.triple-left, body.double span.double-left, body.single span.single-left) {
    left: 0%;
    translate: -8% var(--verticalOffset);
}

.toolTips > div > :is(body.triple span.triple-right, body.double span.double-right, body.single span.single-right) {
    right: 0%;
    left: auto;
    translate: 8% var(--verticalOffset);
}

.toolTips > div > :is(body.triple span.triple-bottom, body.double span.double-bottom, body.single span.single-bottom) {
    --verticalOffset: 15px;
    top: 100%;
    bottom: auto;
}

.toolTips > div > span::after {
    content: "";
    position: absolute;
    --size: 7px;
    margin-left: calc(var(--size)*-1);
    border-width: var(--size);
    border-style: solid;
    
    /* default horizontal positioning */
    left: 50%;
    /* default vertical positioning */
    top: 100%;
    border-color: var(--tooltipBG) transparent transparent transparent;
}
.toolTips > div > :is(body.triple span.triple-left, body.double span.double-left, body.single span.single-left)::after {
    left: 15%;
}
.toolTips > div > :is(body.triple span.triple-right, body.double span.double-right, body.single span.single-right)::after {
    left: 85%;
}
.toolTips > div > :is(body.triple span.triple-bottom, body.double span.double-bottom, body.single span.single-bottom)::after {
    top: auto;
    bottom: 100%;
    border-color: transparent transparent var(--tooltipBG) transparent;
}